*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background-image: url(fundo.webp);
    background-color: rgb(184, 21, 102);
    background-repeat: no-repeat;
    background-size: cover;
}

.c-principal{
    background-color: aliceblue;
    margin: 0;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 100px 10px rgb(85, 8, 81);
}

.c-form{
    background-color: aliceblue;
    height: 300px;
    text-align: center;
}
.c-img{
    background-image: url(fundo.webp);
    height: 300px;
}

h2{
    align-self: flex-start;
    margin: 15px;
    font-size: 30px;
    color: rgb(24, 0, 68);
}

button{
    border: 0px;
    margin: 0px;
    padding: 5px 130px;
    font-size: 16px;
    color: aliceblue;
    background-color: rgb(128, 41, 163);
    margin: 10px;
    letter-spacing: 3px;
}

input{
    border: 1px solid rgb(235, 172, 219);
    border-radius: 50px;
    margin: 0px;
    padding: 10px 55px;
    font-size: 16px;
    color: aliceblue;
    background-color: rgb(255, 170, 191);
    margin: 0px;
}

.extraLogin{
    display: inline;
}

#senha {
  background-image: url("senha.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.3em;
}   

#nome {
  background-image: url("usuario2.png");
  background-repeat: no-repeat;
  background-position: 10px;
  background-size: 1.3em;
}  

a{
  color: rgb(128, 41, 163);
  font-weight: bold;
  font-size: 14px;
}

a::after{
  color: rgb(128, 41, 163);
  font-weight: bold;
  font-size: 14px;
}


label{
  font-size: 15px;
  color: rgb(100, 88, 95);
}

