*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

body{
    background-image: url(fundo.webp);
    background-color: rgb(129, 33, 184);
    background-repeat: no-repeat;
    background-size: cover;
}

.c-principal{
    background-color: aliceblue;
    margin: 0;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 100px 10px rgb(85, 8, 81);
}

.c-form{
    background-color: aliceblue;
    height: 300px;
    text-align: center;
}
.c-img{
    background-image: url(fundo.webp);
    height: 300px;
}

h2{
    align-self: flex-start;
    margin: 15px;
    font-size: 30px;
}